@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply scroll-smooth overflow-x-hidden scroll-pt-12;
    }
}

@layer components {
    .text-linear-yellow {
        @apply from-yellow-light to-yellow-medium bg-clip-text text-transparent;
    }

    .container {
        @apply max-w-xs md:max-w-2xl lg:max-w-4xl xl:max-w-6xl mx-auto;
    }

    .title {
        @apply font-el-messiri text-6xl md:text-8xl;
    }

    .paragraph {
        @apply font-lora text-base md:text-lg leading-[160%] tracking-[2%];
    }

    .button {
        @apply from-yellow-light to-yellow-medium bg-gradient-to-r paragraph w-max font-bold px-5 py-3 hover:opacity-75 duration-200;
    }

    .form-input {
        @apply relative inline-block w-full h-full bg-transparent border-b-4 border-black text-black placeholder-black text-base md:text-lg focus:outline-none autofill:!bg-clip-text;
    }
}

@layer utilities {
    .spotlight {
        @apply absolute bottom-0 z-0 h-full transform translate-x-1/4 md:translate-x-0;
        animation-name: spotlight;
        animation-iteration-count: infinite;
        animation-duration: 5s;
    }

    .dots-pattern {
        @apply absolute hidden md:block opacity-50 lg:opacity-100 z-0;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    @keyframes spotlight {
        0% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        100% {
            transform: rotate(5deg);
            opacity: 1;
        }
    }

    @keyframes floating {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(30px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes floating-45 {
        0% {
            transform: translateY(0) translateX(0);
        }

        50% {
            transform: translateY(30px) translateX(-30px);
        }

        100% {
            transform: translateY(0) translateX(0);
        }
    }
}
